body{
    background: linear-gradient(90deg,#0065fd 0%,#ffffff 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link{
    color: aqua;
}
.nav-bar .nav-link.active{
    color: blanchedalmond;
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: rgb(42, 99, 165);
}
.sidebar{
    color: rgb(0, 58, 97);
    background: linear-gradient(270deg,#0065fd 0%,#ffffff 100%);
}
.card a{
    text-decoration: none;
    
}
.text-slider{
    color: #0065fd;
    margin: auto auto;
}
@media (max-width: 755px){
    .carousel-indicators{
        display: none;
    }
}
footer,
.btn-outline-primary{
    
    background-color: rgb(1, 124, 182);
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim{
    animation: call 2s ease 0s infinite normal forwards;

}
@keyframes call{
    0%,
    100%{
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15%{
        transform: translateX(-30px) rotate(-6deg);
    }
    30%{
        transform: translateX(15px) rotate(6deg);
    }
    45%{
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60%{
        transform: translateX(9px) rotate(2.4deg);
    }
    75%{
        transform: translateX(-6px) rotate(-1.2deg);
    }
}